/* Google Fonts'tan Modern Bir Yazı Tipi Çekiyoruz */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

:root {
  --primary-color: #0d6efd;
  --bg-color: #f0f2f5; /* Hafif gri kurumsal arka plan */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif !important; /* Tüm sitede bu fontu zorla */
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased; /* Yazıları pürüzsüzleştir */
}

/* Scrollbar (Kaydırma Çubuğu) Tasarımı */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}