name: Java CI with Maven
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Java Kurulumu
      uses: actions/setup-java@v3
      with: { java-version: '17', distribution: 'temurin' }
    - name: Derleme
      run: mvn -B package --file pom.xml
